<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/dist/css/bootstrap.css" rel="stylesheet" type="text/css"> <!--TODO: CHANGE-->
    <title>Page Title</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">SharedTripp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Shared Tripps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout as [{{ loggedEmail }}]</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <div class="container" style="height: 90vh;">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Welcome ShareTrippers!</h1>
            <p class="lead">SharedTripp is the best way to road across the country. <br> Find yours SharedTripp's
                buddies, when you share with us yours tripp plans and let the exploration begin!</p>
            <a href="#" class="btn btn-primary btn-lg">Offer Tripp!</a>
        </header>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://vignette.wikia.nocookie.net/gran-turismo/images/b/b2/Chevrolet_Camaro_SS_%2769.jpg/revision/latest?cb=20181005160928"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Studentski grad - Varna</h4>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cybertruck-1-1574399754.jpeg"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sofia - Elon Musk's Mantion</h4>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://vignette.wikia.nocookie.net/gran-turismo/images/b/b2/Chevrolet_Camaro_SS_%2769.jpg/revision/latest?cb=20181005160928"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Studentski grad - Varna</h4>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cybertruck-1-1574399754.jpeg"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sofia - Elon Musk's Mantion</h4>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>

    <footer id="sticky-footer" class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright © SharedTripp 2019</p>
        </div>
        <!-- /.container -->
        <div></div>
    </footer>
</body>

</html>