<div class="container">
    <h1 class="my-4">Course title : ExpressJS
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid"
                src="https://blog.cyberpanel.net/wp-content/uploads/2019/03/express-js-cyberpanel.jpeg" alt="Express" />
        </div>

        <div class="col-md-4 text-center">
            <h3 class="my-3">Course Description</h3>
            <p>ExpressJS is ...</p>

            <a class="btn btn-danger" href="/">Delete</a>
            <a class="btn btn-warning" href="/">Edit</a>
            <span class="enrolled-span">You are already enrolled</span>
            <a class="btn btn-primary" href="/">Enroll</a>

        </div>
    </div>
</div>