<div class="py-5">
    <div class="container">
        <img style="display: block; margin: 0 auto; max-width: 800px;"
            src="https://i.pinimg.com/originals/fd/ba/90/fdba90c5b01f3d18f1842c6dbeeec682.jpg" />
        <h1 style="width: 100%; text-align: center; font-weight: bold;">404</h1>
        <h2 style="width: 100%; text-align: center; text-decoration: underline;">NOT FOUND</h2>
    </div>
</div>