<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    {{> header}}
    {{#if error}}
    {{> message}}
    {{/if}}
    <main>
        {{{body}}}
    </main>
    {{>footer}}

</body>

</html>